<div class="card">
  <div class="card-header">
    Количество потребителей
  </div>
  <div class="card-body">
    <p class="card-text">Количество потребителей, пользующихся кабинетом.</p>
  </div>
</div>