<%= form_tag(operation, multipart: true) do %>
	<div class='custom-file'>
  	<%= file_field_tag :datafile, class: 'custom-file-input' %>
  	<%= label_tag :datafile, 'Выберите файл для импорта', class: 'custom-file-label' %>
	</div>
	<br>
	<br>
  	<%= submit_tag 'Импортировать', class: 'btn btn-outline-primary', data: { disable_with: "Пожалуйста, подождите..." }%>
<% end %>

<script>
$('#datafile').on('change',function(){
    var fileName = $(this).val().replace(/^.*[\\\/]/, '');
    $(this).next('.custom-file-label').html(fileName);
})
</script>