<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Здравствуйте <%= @user.username %>!</h1>
    <p>ООО "Энерго Х" напоминает, что, начиная с сегодняшнего числа и до конца месяца, Вы можете подать отчет о потребленной электроэнергии по предприятию <%= @consumer.full_name %>, используя свой <a href='http://82.117.245.34:3020'>Кабинет потребителя.</a></p>
    <p>Спасибо за сотрудничество</p>
  </body>
</html>