<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Здравствуйте!</h1>
    <p>ООО "Энерго Х" напоминает, что с сегодняшнего числа Вы можете подать отчет о потребленной электроэнергии, используя свой Кабинет потребителя.</p>
  </body>
</html>